{% extends 'base.html' %} 
{% load static %}

{% block nav %} 
<!-- NAVBAR -->
<header class="site-navbar mt-3">
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="site-logo col-6"><a href="/">JobBoard</a></div>

      <nav class="mx-auto site-navigation">
        <ul class="site-menu js-clone-nav d-none d-xl-block ml-0 pl-0">
          <li><a href="/" class="nav-link active">Home</a></li>
          <li><a href="#">About</a></li>
          <li class="has-children">
            {% comment %} <a href="job-listings.html">Categories</a>
            <ul class="dropdown">
              <li><a href="job-single.html">Job Single</a></li>
              <li><a href="post-job.html">Post a Job</a></li>
            </ul> {% endcomment %}
          </li>
          <li><a href="#">Contact</a></li>
          <li class="has-children">
            <a href="#">Register</a>
            <ul class="dropdown">
              <li><a href="/eregister/">Employee</a></li>
              <li><a href="/jregister/">Jobseeks</a></li>
              
            </ul>
          </li>
          {% comment %} <li><a href="blog.html">Blog</a></li> {% endcomment %}
          <li class="d-lg-none"><a href="/postjob/"><span class="mr-2">+</span> Post a Job</a></li>
          <li class="d-lg-none"><a href="/login/">Login</a></li>
        </ul>
      </nav>
      
      <div class="right-cta-menu text-right d-flex aligin-items-center col-6">
        <div class="ml-auto">
          <a href="/postjob/" class="btn btn-outline-white border-width-2 d-none d-lg-inline-block"><span class="mr-2 icon-add"></span>Post a Job</a>
          <a href='/login/' class="btn btn-primary border-width-2 d-none d-lg-inline-block"><span class="mr-2 icon-lock_outline"></span>Login</a>
        </div>
        <a href="#" class="site-menu-toggle js-menu-toggle d-inline-block d-xl-none mt-lg-2 ml-3"><span class="icon-menu h3 m-0 p-0 mt-2"></span></a>
      </div>

    </div>
  </div>
</header>
{% endblock nav %}

{% block content %} 
<section class="section-hero overlay inner-page bg-image" style="background-image: url('/static/images/job/hero_1.jpg');"  id="home-section">  
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <h1 class="text-white font-weight-bold">Search</h1>
        <div class="custom-breadcrumbs">
          <a href="#">Home</a> <span class="mx-2 slash">/</span>
          <a href="#">Job</a> <span class="mx-2 slash">/</span>
          <span class="text-white"><strong>Search</strong></span>
        </div>
      </div>
    </div>
  </div>
</section>


  <section class="site-section">
    <div class="container">
  
      <div class="row mb-5 justify-content-center">
        <div class="col-md-7 text-center">
          <h2 class="section-title mb-2">Searching List</h2>
        </div>
      </div>
      
      {% for job in search_results %}
      <ul class="job-listings mb-5">
        <li class="job-listing d-block d-sm-flex pb-3 pb-sm-0 align-items-center">
          <a href="{% url 'Apps:singlejob' job.id %}"></a> 
          <div class="job-listing-logo">
            {% if job.logo %}
            <img src="{{job.logo.url}}" alt="Free Website Template by Free-Template.co" class="img-fluid">
            {% endif %}
          </div>
  
          <div class="job-listing-about d-sm-flex custom-width w-100 justify-content-between mx-4">
            <div class="job-listing-position custom-width w-50 mb-3 mb-sm-0">
              <a href="#"><h2>Product{{job.job_title}}</h2></a>
              <br>
              <strong>{{n.company_name}}</strong> 
            </div>
            <div class="job-listing-location mb-3 mb-sm-0 custom-width w-25">
              <span class="icon-room"></span> {{job.location}}
            </div>
            <div class="job-listing-meta">
              <span class="badge badge-danger">{{job.job_type}}</span>
              {% comment %} <span class="badge badge-danger">{{n.job_type}}</span> {% endcomment %}
            </div>
          </div>        
        </li>
  
          {% endfor %}
  
      
      <div class="row pagination-wrap">
        <div class="col-md-6 text-center text-md-left mb-4 mb-md-0">
          <span>Showing 1-7 Of 43,167 Jobs</span>
        </div>
        <div class="col-md-6 text-center text-md-right">
          <div class="custom-pagination ml-auto">
            <a href="#" class="prev">Prev</a>
            <div class="d-inline-block">
            <a href="#" class="active">1</a>
            <a href="#">2</a>
            <a href="#">3</a>
            <a href="#">4</a>
            </div>
            <a href="#" class="next">Next</a>
          </div>
        </div>
      </div>
  
    </div>
  </section>

{% endblock content %}