{% extends 'base.html' %} 
{% load static %}

{% block nav %} 

<!-- NAVBAR -->
<header class="site-navbar mt-3">
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="site-logo col-6"><a href="/eindex/">JobBoard</a></div>
      
      
      

      <nav class="mx-auto site-navigation">
        <ul class="site-menu js-clone-nav d-none d-xl-block ml-0 pl-0">
          <li><a href="/eindex/" class="nav-link active">Home</a></li>
          <li><a href="/eabout/">About</a></li>
          <li class="has-children">
            {% comment %} <a href="job-listings.html">Categories</a>
            <ul class="dropdown">
              <li><a href="job-single.html">Job Single</a></li>
              <li><a href="post-job.html">Post a Job</a></li>
            </ul> {% endcomment %}
          </li>
          {% comment %} <li class="has-children">
            <a href="#">Register</a>
            <ul class="dropdown">
              <li><a href="/eregister/">Employee</a></li>
              <li><a href="/jregister/">Jobseeks</a></li>
              
            </ul>
          </li> 
          {% comment %} <li><a href="blog.html">Blog</a></li> {% endcomment %}
          <li><a href="/econtact/">Contact</a></li>
          <li class="d-lg-none"><a href="/postjob/"><span class="mr-2">+</span> Post a Job</a></li>
          <li class="d-lg-none"><a href="/logout/">Logout</a></li>
           
          {% comment %} <li><a href="blog.html">Blog</a></li> {% endcomment %}
        </ul>
      </nav>
      
      <div class="right-cta-menu text-right d-flex aligin-items-center col-6">
        <div class="ml-auto">
          <a href="/postjob/" class="btn btn-outline-white border-width-2 d-none d-lg-inline-block"><span class="mr-2 icon-add"></span>Post a Job</a>
          <a href='/logout/' class="btn btn-primary border-width-2 d-none d-lg-inline-block"><span class="mr-2 icon-lock_outline"></span>Logout</a>
          
           {% comment %} <li class="has-children">
            <a href="#">Register</a>
            <ul class="dropdown">
              <li><a href="/eregister/">Employee</a></li>
              <li><a href="/jregister/">Jobseeks</a></li>
              
            </ul>
          </li> {% endcomment %}
          {% comment %} <li><a href="blog.html">Blog</a></li> {% endcomment %}
        </div>
        </div>
        <a href="#" class="site-menu-toggle js-menu-toggle d-inline-block d-xl-none mt-lg-2 ml-3"><span class="icon-menu h3 m-0 p-0 mt-2"></span></a>
      </div>

    </div>
  </div>
</header>
{% endblock nav %}

{% block content %} 

 <!-- HOME -->
 <section class="home-section section-hero overlay bg-image" style="background-image: url('/static/images/job/hero_1.jpg');" id="home-section">

  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col-md-12">
        <div class="mb-5 text-center">
          <h1 class="text-white font-weight-bold">Hello {{user.username}}</h1>
          <p>Find your perfect Employee for your Company...</p>
        </div>
        <form method="post" class="search-jobs-form">
          <div class="row mb-5">
            <div class="col-12 col-sm-6 col-md-6 col-lg-3 mb-4 mb-lg-0">
              <input type="text" class="form-control form-control-lg" placeholder="Job title, Company...">
            </div>
            <div class="col-12 col-sm-6 col-md-6 col-lg-3 mb-4 mb-lg-0">
              <select class="selectpicker" data-style="btn-white btn-lg" data-width="100%" data-live-search="true" title="Select Region">
                <option>Anywhere</option>
                <option>San Francisco</option>
                <option>Palo Alto</option>
                <option>New York</option>
                <option>Manhattan</option>
                <option>Ontario</option>
                <option>Toronto</option>
                <option>Kansas</option>
                <option>Mountain View</option>
              </select>
            </div>
            <div class="col-12 col-sm-6 col-md-6 col-lg-3 mb-4 mb-lg-0">
              <select class="selectpicker" data-style="btn-white btn-lg" data-width="100%" data-live-search="true" title="Select Job Type">
                <option>Part Time</option>
                <option>Full Time</option>
              </select>
            </div>
            <div class="col-12 col-sm-6 col-md-6 col-lg-3 mb-4 mb-lg-0">
              <button type="submit" class="btn btn-primary btn-lg btn-block text-white btn-search"><span class="icon-search icon mr-2"></span>Search Job</button>
            </div>
          </div>
          {% comment %} <div class="row">
            <div class="col-md-12 popular-keywords">
              <h3>Trending Keywords:</h3>
              <ul class="keywords list-unstyled m-0 p-0">
                <li><a href="#" class="">UI Designer</a></li>
                <li><a href="#" class="">Python</a></li>
                <li><a href="#" class="">Developer</a></li>
              </ul>
            </div>
          </div> {% endcomment %}
        </form>
      </div>
    </div>
  </div>

  <a href="#next" class="scroll-button smoothscroll">
    <span class=" icon-keyboard_arrow_down"></span>
  </a>

</section>

<section class="py-5 bg-image overlay-primary fixed overlay" id="next" style="background-image: url=("{% static '/static/images/job/hero_1.jpg' %}");">
  <div class="container">
    <div class="row mb-5 justify-content-center">
      <div class="col-md-7 text-center">
        <h2 class="section-title mb-2 text-white">JobBoard Site Stats</h2>
        <p class="lead text-white">Because people are our most precious assets… We only let the best managers in the world lead them</p>
      </div>
    </div>
    <div class="row pb-0 block__19738 section-counter">

      <div class="col-6 col-md-6 col-lg-3 mb-5 mb-lg-0">
        <div class="d-flex align-items-center justify-content-center mb-2">
          <strong class="number" data-number="1930">0</strong>
        </div>
        <span class="caption">Candidates</span>
      </div>

      <div class="col-6 col-md-6 col-lg-3 mb-5 mb-lg-0">
        <div class="d-flex align-items-center justify-content-center mb-2">
          <strong class="number" data-number="54">0</strong>
        </div>
        <span class="caption">Jobs Posted</span>
      </div>

      <div class="col-6 col-md-6 col-lg-3 mb-5 mb-lg-0">
        <div class="d-flex align-items-center justify-content-center mb-2">
          <strong class="number" data-number="120">0</strong>
        </div>
        <span class="caption">Jobs Filled</span>
      </div>

      <div class="col-6 col-md-6 col-lg-3 mb-5 mb-lg-0">
        <div class="d-flex align-items-center justify-content-center mb-2">
          <strong class="number" data-number="550">0</strong>
        </div>
        <span class="caption">Companies</span>
      </div>

        
    </div>
  </div>
</section>



<section class="site-section">
  <div class="container">

    <div class="row mb-5 justify-content-center">
      <div class="col-md-7 text-center">
        <h2 class="section-title mb-2">43,167 Job Listed</h2>
      </div>
    </div>
    {% for n in newjob %}
    <ul class="job-listings mb-5">
      <li class="job-listing d-block d-sm-flex pb-3 pb-sm-0 align-items-center">
        <a href="{% url 'Apps:empsinglejob' n.id %}"></a>
        <div class="job-listing-logo">
          {% if n.logo %}
          <img src="{{n.logo.url}}" alt="Free Website Template by Free-Template.co" class="img-fluid">
          {% endif %}
        </div>
        

        <div class="job-listing-about d-sm-flex custom-width w-100 justify-content-between mx-4">
          <div class="job-listing-position custom-width w-50 mb-3 mb-sm-0">
            <h2>{{n.job_title}}</h2>
            <strong>{{n.company_name}}</strong> 
          </div>
          <div class="job-listing-location mb-3 mb-sm-0 custom-width w-25">
            <span class="icon-room"></span> {{n.location}}
          </div>
          <div class="job-listing-meta">
            <span class="badge badge-danger">{{n.job_type}}</span>
            {% comment %} <span class="badge badge-danger">{{n.job_type}}</span> {% endcomment %}
          </div>
        </div>        
      </li>

        {% endfor %}

    
    <div class="row pagination-wrap">
      <div class="col-md-6 text-center text-md-left mb-4 mb-md-0">
        <span>Showing 1-7 Of 43,167 Jobs</span>
      </div>
      <div class="col-md-6 text-center text-md-right">
        <div class="custom-pagination ml-auto">
          <a href="#" class="prev">Prev</a>
          <div class="d-inline-block">
          <a href="#" class="active">1</a>
          <a href="#">2</a>
          <a href="#">3</a>
          <a href="#">4</a>
          </div>
          <a href="#" class="next">Next</a>
        </div>
      </div>
    </div>

  </div>
</section>

<section class="py-5 bg-image overlay-primary fixed overlay" style="background-image: url('static/images/job/hero_1.jpg');">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-8">
        <h2 class="text-white">Looking For A Job?</h2>
        <p class="mb-0 text-white lead">You can actually invent things here
        </p>
      </div>
      <div class="col-md-3 ml-auto">
        <a href="/login/" class="btn btn-warning btn-block btn-lg">Log In</a>
      </div>
    </div>
  </div>
</section>


{% endblock content %}